<%- contentFor('body') %>
<!-- http://www.marlinjackson.co.za/#about -->
	<div class="row">
		<div class="col-sm-12">
			<h1><b>About Me</b></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-5">
			<!-- <img src="..." alt="..." class="img-thumbnail"> -->
			<img data-src="holder.js/100%x180" alt="...">
			contentcontent<br>
			contentcontent<br>
			contentcontent<br>
			contentcontent<br>
			contentcontent<br>
			contentcontent<br>
			<h2>Services</h2>
			Website Design<br>
			Front-end Development<br>
			Content Managed Websites (CMS)<br>
			E-Newsletter Design, Build and Implementation<br>
			Logo Design, Business Card, Letterhead<br>
			<h2>Contact Me</h2>
		</div>
		<div class="col-sm-7">
			<h3>Design and Development Skills</h3>
			Abobe Photoshop
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Adobe Illustrator
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Adobe Dreamweaver
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			HTML Coding
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Javascript / jQuery
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Abobe Fireworks
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Adobe InDesign
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Adobe Flash
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			CSS Coding
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			Wordpress (CMS)
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
		</div>
	</div>