<%- contentFor('body') %>	
	<script src="http://demos.flesler.com/jquery/scrollTo/js/jquery.scrollTo-min.js">
	</script>
	<script type="text/javascript">
		$(function () {
			// Set the scroll range that triggers affix
			$("#sidebar").affix({
				offset: { 
					top: ($('#content').position().top-70),
					bottom: $('#footer').outerHeight()
				}
			});

			$('body').scrollspy({ target: '#sidebar' });

			$('#sidebar').on('activate.bs.scrollspy', function () {
				var href = $('#sidebar .active:first > a').attr('href');
				// console.log(href);
				$('#sidebar').scrollTo($('a[href='+href+']'), 500);
			})
		});
	</script>

	<style type="text/css">
		body {
			position: relative
		}

		section {
			padding-top: 35px;
		}

		.affix-top {
			width:212px;
		}

		.affix {
			position: fixed;
			width:212px;
			top: 70px;
		}

		.affix-bottom {
			position: absolute;
			width:212px;
		}

		#sidebar {
			max-height: 300px;
			overflow-y: auto;
		}

		#sidebar .nav-pills>li.active>a {
			background-color: #39b3d7;
		}

		#sidebar .nav .nav>li>a {
			margin-left: 30px;
		}

		#sidebar .nav .nav .nav>li>a {
			margin-left: 60px;
		}

		#sidebar .nav>li>a {
			padding: 3px 6px;
			margin: 3px 0px;
		}
	</style>

	<div class="row">
		<div class="col-md-3">
			<div class="well" id="sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#title1">title1</a></li>					
					<li><a href="#title2">title2</a></li>
					<li><a href="#title3">title3</a>
						<ul class="nav nav-pills nav-stacked">
				         <li><a href="#title3-1">title3-1</a></li>
				         <li><a href="#title3-2">title3-2</a>
				         	<ul class="nav nav-pills nav-stacked">
						         <li><a href="#title3-2-1">title3-2-1</a></li>
						         <li><a href="#title3-2-2">title3-2-2</a></li>
						      </ul>
				         </li>
				         <li><a href="#title3-3">title3-3</a></li>
				         <li><a href="#title3-4">title3-4</a></li>
				      </ul>
					</li>
					<li><a href="#title4">title4</a></li>
				</ul>
			</div>
      </div>

		<div class="col-md-7" id="content">
			<section id="title1">				
				<h1>title1</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title2">
				<h1>title2</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3">
				<h1>title3</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3-1">
				<h1>title3-1</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3-2">
				<h1>title3-2</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3-2-1">
				<h1>title3-2-1</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3-2-2">
				<h1>title3-2-2</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3-3">
				<h1>title3-3</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title3-4">
				<h1>title3-4</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>

			<section id="title4">
				<h1>title4</h1>
				content<br>content<br>content<br>content<br>content<br>content<br>content<br>content
			</section>
		</div>
	</div>